# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Playground
timeline.xctimeline
playground.xcworkspace

# Misc
*.swp
*.swo
